<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Claudia Page</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="../css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	<span class="glyphicon glyphicon-fire"></span>
                	Claudia
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../">Inicio</a>
                    </li>
                    <li class="active">
                        <a href="#">Editar pagina</a>
                    </li>
                </ul>

				<!-- Search -->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

	<div class="jumbotron feature">
		<div class="container">
      <input id = "jumbotron_color" placeholder="Color (Hex)" style="color:black !important;"> </input>
			<h1 contenteditable="true" id = "jumbotron_title">Claudia's Design</h1>
			<p contenteditable="true" id = "jumbotron_subtitle">Asi nomas quedo.</p>
		</div>
	</div>

<button onclick = "getInfo()" style="margin-left:100px">Guardar</button>
    <!-- Content -->
    <div class="container">

        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" contenteditable="true" id = "section_title">Diseños de calidad
                </h1>
                <p contenteditable="true" id = "section_header">Something something something something something something something something something something something something something something something something something something something.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Feature Row -->
        <div class="row">
            <article class="col-md-4 article-intro">
              <input id = "image1_url" placeholder="image 1 url"/>
                <a href="#">
                    <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                </a>
                <h3>
                    <a id = "image1_title" href="#" contenteditable="true">Vinos tintos</a>
                </h3>
                <p contenteditable="true" id = "image1_content">Something something something something something something something something something something something something something something something something something something something.</p>
            </article>
            <article class="col-md-4 article-intro">
              <input id = "image2_url" placeholder="image 2 url"/>
                <a href="#">
                    <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                </a>
                <h3>
                    <a id = "image2_title" href="#" contenteditable="true">Whisky</a>
                </h3>
                <p contenteditable="true" id = "image2_content">Something something something something something something something something something something something something something something something something something something something.</p>
            </article>

            <article class="col-md-4 article-intro">
              <input id = "image3_url" placeholder="image 3 url"/>
                <a href="#">
                    <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                </a>
                <h3>
                    <a id = "image3_title" href="#" contenteditable="true" >Cerveza</a>
                </h3>
                <p contenteditable="true" id = "image3_content">Something something something something something something something something something something something something something something something something something something something.</p>
            </article>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

	<footer>
		<div class="footer-blurb">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 footer-blurb-item">
						<h3 contenteditable="true" id = "bottom_container1_title">Diseño de calidad</h3>
            <p contenteditable="true" id = "bottom_container1_content">Something something something something something something something something something something something something something something something something something something something.</p>
					</div>
					<div class="col-sm-4 footer-blurb-item">
						<h3 contenteditable="true" id = "bottom_container2_title">Diseño a la medida</h3>
            <p contenteditable="true" id = "bottom_container2_content">Something something something something something something something something something something something something something something something something something something something.</p>
					</div>
					<div class="col-sm-4 footer-blurb-item">
						<h3 contenteditable="true" id = "bottom_container3_title">Diseño inovador</h3>
            <p contenteditable="true" id = "bottom_container3_content">Something something something something something something something something something something something something something something something something something something something.</p>
					</div>

				</div>
				<!-- /.row -->
			</div>
        </div>

        <div class="small-print">
        	<div class="container">
        		<p><a href="#">Terminos &amp; Condiciones</a> | <a href="#">Politicas de privacidad</a> | <a href="#">Contactar</a></p>
        		<p>Copyright &copy; Claudia Escanlante 2017 </p>
        	</div>
        </div>
	</footer>

    <!-- jQuery -->
    <script src="../js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

	<!-- IE10 viewport bug workaround -->
	<script src="../js/ie10-viewport-bug-workaround.js"></script>

	<!-- Placeholder Images -->
	<script src="../js/holder.min.js"></script>

  <script src="../js/send_data.js"></script>

</body>

</html>
